node_modules/
dist/
coverage/
.DS_Store
create-bedrock/node_modules/
create-bedrock/data/wiki_data.json
create-bedrock/behavior_packs/
create-bedrock/resource_packs/
create-bedrock/scripts/utilities/
